.email-container{
    width: 60%;
    padding: 45px;
    border-radius: 0;
    left: 50%;
}

.email-row{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.col-md-12{
    padding: 20px;
}

.form-control {
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:600px){
    .email-container{
        width: 100%;
        left: 50%;
        top: 90%;
    }
}